body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  font-weight: 400;
  font-size: 31px;
}
.SiteWrapper {
  width: 100%;
  height: auto;
  background-color: #eeeeeb;
}
.SiteWrapper .MenuBar {
  width: 171px;
  min-height: 100vh;
  height: 100%;
  background-color: #110422;
  display: inline-block;
  float: left;
}
.SiteWrapper .MenuBar ol.nav {
  padding-left: 0;
  margin: 0;
}
.SiteWrapper .MenuBar ol.nav li {
  padding-top: 25px;
  padding-bottom: 0;
  list-style-type: none;
}
.SiteWrapper .MenuBar ol.nav li span.MenuSectionHeader {
  font-size: 12px;
  border-bottom: 1px solid #27212d;
  padding: 5px 15px 10px;
  display: block;
  color: #8d8d8d;
  font-weight: bold;
}
.SiteWrapper .MenuBar ol.nav li ol {
  padding: 0;
}
.SiteWrapper .MenuBar ol.nav li ol li.MenuLink.hasIcon {
  background: url(../images/menuicon.png) no-repeat;
  background-position: 10px 3px;
  background-size: 20px 20px;
  padding-left: 30px;
}
.SiteWrapper .MenuBar ol.nav li ol li.MenuLink {
  padding: 5px 10px;
}
.SiteWrapper .MenuBar ol.nav li ol li.MenuLink a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  padding: 5px;
}
.SiteWrapper .ContentWrapper {
  display: inline-block;
  position: absolute;
  width: calc(100% - 171px);
  float: left;
  height: 100%;
  position: relative;
  background-color: #eeeeeb;
}
.SiteWrapper .ContentWrapper .SearchWrapper {
  background-color: #332469;
  height: 60px;
  width: 100%;
  position: relative;
  box-shadow: 3px 7px 10px #888888;
}
.SiteWrapper .ContentWrapper .SearchWrapper .SearchBox {
  width: calc(100% - 180px);
  height: 38px;
  display: inline-block;
  position: relative;
}
.SiteWrapper .ContentWrapper .SearchWrapper .SearchBox input[type="search"] {
  width: calc(100% - 40px);
  height: 100%;
  padding: 0;
  margin: 10px 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  font-size: 18px;
  color: #332967;
  padding-left: 10px;
  background: url(../images/searchicon.png) no-repeat;
  background-color: #fff;
  background-size: 20px 20px;
  background-position: right 10px center;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks {
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 180px;
  float: right;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks .LinksTable {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks .LinksTable a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks .LinksTable .GetPlejmo {
  display: table-cell;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks .LinksTable .Login {
  display: table-cell;
}
.SiteWrapper .ContentWrapper .TextParagraph {
  color: #262626;
  margin: 50px auto;
  width: 75%;
  text-align: center;
}
.SiteWrapper .ContentWrapper .TextParagraph p {
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  line-height: 21px;
}
.SiteWrapper .ContentWrapper .VideoCategory {
  margin: 50px auto;
  width: 87%;
}
.SiteWrapper .ContentWrapper .VideoCategory h2 {
  margin-left: 10px;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper {
  margin: 0 auto;
  /*.VideoItem:nth-child(4n) {
					margin-right: 0;
				}*/
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem {
  height: 426px;
  width: 220px;
  float: left;
  margin: 0 10px 25px;
  background-color: #fff;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem .VideoPoster {
  height: 324px;
  width: 100%;
  background-color: #000;
}
.ClearFix {
  clear: both;
}
