body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  background-color: #110422;
  font-family: 'Roboto Condensed', sans-serif;
}
h2 {
  font-weight: 400;
  font-size: 31px;
}
.SiteWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  background-color: #eeeeeb;
}
.SiteWrapper .MenuBar {
  width: 171px;
  min-height: 100%;
  background-color: #110422;
  display: inline-block;
  float: left;
  position: relative;
}
.SiteWrapper .MenuBar ol.nav {
  padding-left: 0;
  margin: 0;
}
.SiteWrapper .MenuBar ol.nav li {
  padding-top: 25px;
  padding-bottom: 0;
  list-style-type: none;
}
.SiteWrapper .MenuBar ol.nav li span.MenuSectionHeader {
  font-size: 12px;
  border-bottom: 1px solid #27212d;
  padding: 5px 15px 10px;
  display: block;
  color: #8d8d8d;
  font-weight: bold;
}
.SiteWrapper .MenuBar ol.nav li ol {
  padding: 0;
}
.SiteWrapper .MenuBar ol.nav li ol li.MenuLink.hasIcon {
  background: url(../images/menuicon.png) no-repeat;
  background-position: 10px 3px;
  background-size: 20px 20px;
  padding-left: 30px;
}
.SiteWrapper .MenuBar ol.nav li ol li.MenuLink {
  padding: 5px 10px;
}
.SiteWrapper .MenuBar ol.nav li ol li.MenuLink a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
  padding: 5px;
}
.SiteWrapper .ContentWrapper {
  display: inline-block;
  position: absolute;
  width: calc(100% - 171px);
  float: left;
  height: auto;
  position: relative;
  background-color: #eeeeeb;
}
.SiteWrapper .ContentWrapper .SearchWrapper {
  background-color: #332469;
  height: 60px;
  width: 100%;
  position: relative;
  box-shadow: 3px 7px 10px #888888;
}
.SiteWrapper .ContentWrapper .SearchWrapper .SearchBox {
  width: calc(100% - 180px);
  height: 38px;
  display: inline-block;
  position: relative;
}
.SiteWrapper .ContentWrapper .SearchWrapper .SearchBox input[type="search"] {
  width: calc(100% - 40px);
  height: 100%;
  padding: 0;
  margin: 10px 20px;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  font-size: 18px;
  color: #332967;
  padding-left: 10px;
  background: url(../images/searchicon.png) no-repeat;
  background-color: #fff;
  background-size: 20px 20px;
  background-position: right 10px center;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks {
  display: block;
  margin: 10px auto;
  height: 40px;
  width: 180px;
  float: right;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks .LinksTable {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks .LinksTable a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  font-weight: normal;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks .LinksTable .GetPlejmo {
  display: table-cell;
}
.SiteWrapper .ContentWrapper .SearchWrapper .TopBarLinks .LinksTable .Login {
  display: table-cell;
}
.SiteWrapper .ContentWrapper .TextParagraph {
  color: #262626;
  margin: 50px auto;
  width: 75%;
  text-align: center;
}
.SiteWrapper .ContentWrapper .TextParagraph p {
  font-family: 'Roboto', 'sans-serif';
  font-size: 14px;
  line-height: 21px;
}
.SiteWrapper .ContentWrapper .VideoCategory {
  margin: 50px auto;
  padding: 0 10%;
}
.SiteWrapper .ContentWrapper .VideoCategory h2 {
  margin-left: 10px;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper {
  margin: 0 auto;
  overflow: hidden;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem {
  height: 426px;
  width: 220px;
  float: left;
  margin: 0 10px 25px;
  background-color: #fff;
  position: relative;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem .VideoPoster {
  height: 324px;
  width: 100%;
  background-color: #000;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem .VideoInfo {
  padding-left: 20px;
  padding-top: 35px;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem .VideoInfo span.Title {
  font-weight: 700;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem .VideoInfo span.Genre {
  font-size: 12px;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem .VideoInfo span.Rating {
  float: right;
  padding-right: 20px;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem span.Price {
  position: absolute;
  bottom: 82px;
  left: calc(50% - 60px);
  background-color: #e26269;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  text-align: center;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem .TitleMenu {
  display: inline-block;
  float: right;
  padding-right: 20px;
}
.SiteWrapper .ContentWrapper .VideoCategory .VideosWrapper .VideoItem .TitleMenu:after {
  content: '\2807';
  cursor: pointer;
}
.SiteWrapper .ContentWrapper .ButtonWrapper {
  margin: 100px auto;
  text-align: center;
}
.SiteWrapper .ContentWrapper .ButtonWrapper span.Text {
  color: #656565;
  font-size: 18px;
  font-weight: 300;
  font-family: 'Roboto', 'sans-serif';
}
.SiteWrapper .ContentWrapper .ButtonWrapper a {
  text-decoration: none;
  padding: 15px 98px;
  background-color: #331b68;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  display: inline-block;
  border-radius: 3px;
  margin-top: 20px;
}
.SiteWrapper .ContentWrapper .footer {
  max-width: 100%;
  overflow: auto;
  height: auto;
  background-color: #b6caab;
}
.SiteWrapper .ContentWrapper .footer .FooterMenu {
  margin-bottom: 30px;
  height: auto;
  overflow: auto;
  float: left;
  width: 66%;
}
.SiteWrapper .ContentWrapper .footer .FooterMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.SiteWrapper .ContentWrapper .footer .FooterMenu ul li.Main {
  margin-left: 5%;
  margin-top: 20px;
}
.SiteWrapper .ContentWrapper .footer .FooterMenu ul li {
  float: left;
}
.SiteWrapper .ContentWrapper .footer .FooterMenu ul li h3 {
  text-transform: uppercase;
  font-size: 14px;
}
.SiteWrapper .ContentWrapper .footer .FooterMenu ul li ul.Columns {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}
.SiteWrapper .ContentWrapper .footer .FooterMenu ul li ul {
  margin-top: 20px;
}
.SiteWrapper .ContentWrapper .footer .FooterMenu ul li ul li {
  float: none;
  padding-bottom: 10px;
}
.SiteWrapper .ContentWrapper .footer .FooterMenu ul li ul li a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
}
.SiteWrapper .ContentWrapper .footer .FooterQuote {
  float: right;
  width: 34%;
  padding: 60px 0;
}
.SiteWrapper .ContentWrapper .footer .FooterQuote span {
  color: #fff;
  background-color: #e26269;
  font-size: 23px;
}
.ClearFix {
  clear: both;
}
